
ul{
	list-style-type: none;
	padding:0; 
	margin:0;
}

.wrapper{
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
}

#song-container{
	margin-top: 10px;
	margin-bottom: 10px;
	background: LightGray;
}

.song-bag{
	padding: 20px;
	float: right;
	width: 140px;
	height: 140px;
	font-size: .7em;
}

.current-song{
	background: white;
	border: 1px solid black;
}
